.python-version
.repl_history
poetry.lock
uv.lock
.vscode/
__pycache__/
mozilla.pdf
faiss_index
*.log
download/
backup/
logs/
cache/
prompt_backup/
faiss/
geckodriver.log
.llmvm.history
dist/
package-lock.json
package.json
playwright.config.js
example.spec.js
demo-todo-app.spec.js
.DS_Store
/llmvm/.DS_Store
pac
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
token_tests/
